.img-card-fit {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.img-cont {
    height: 200px;
    overflow: hidden;
    background-color: beige;
}

.card-content{
    height: 150px;
    overflow: auto;
}

main {
    min-height: calc(100vh - 100px);
  }
/* 
.checked{
    color: orange;
} */
.offcanvas{
    height: fit-content;
}
.offcanvas-body{
    height: fit-content !important;
    position: relative !important;
    overflow: visible !important;
} 

.card {
    background-color: #333;
    border: none;
}

.card-title {
    font-weight: bold;
    color: #ffff;
}

.card-text {
    color: gray;
    font-size: 1.2rem;
}

.checked {
    color: orange;
    font-size: 1.5rem;
}
.no-checked{
    color: white;
    font-size: 1.5rem;
}
.genres {
    font-size: 1rem;
    color: #6c757d;
}

.dropdown-menu {
    min-width: 200px;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    position: absolute !important;
    z-index: 1070 !important;
}

.dropdown-item {
    font-size: 0.9rem;
    color: #333;
    padding: 5px 10px;
}

.btn-info {
    background-color: #333;
    border-color: #333;
    color: white;
    border-radius: 5px;
}

.btn-info:hover {
    background-color: gray;
    border-color: gray;
}


